<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.paipianwang.pat.facade.information.service.dao.impl.PmsNewsDaoImpl">

	<!-- 查询字段 -->
	<sql id="news_field">
		ID AS id,
		TITLE AS title,
		DISCRIPTION AS discription,
		CONTENT AS content,
		DATE_FORMAT(CREATE_TIME, '%Y-%m-%d') createTime,
		DATE_FORMAT(UPDATE_TIME, '%Y-%m-%d') updateTime,
		IFNULL(SORT_INDEX, 0) AS sortIndex,
		STATUS AS status,
		TAGS AS tags,
		PICLDURL AS picLDUrl,
		RECOMMEND AS recommend,
		VISIBLE AS visible,
		SEOTITLE AS seoTitle,
		SEODESCRIPTION AS seoDescription,
		SEOKEYWORDS AS seoKeywords
	</sql>
	
	<!-- 新闻表 -->
	<sql id="pms_news"> NEWS </sql>
	
	<sql id="sql_condition">
		<if test="tags != null and tags!= ''">
			TAGS LIKE CONCAT(CONCAT('%',#{tags}),'%')
		</if>
		
		<if test="recommend != null">
			AND RECOMMEND > 0
		</if>
		
		<if test="status != null">
			AND STATUS = #{status}
		</if>
		
		<if test="visible != null">
			AND VISIBLE = ${visible}
		</if>
	</sql>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="PmsNews">
			INSERT INTO 
			<include refid="pms_news" /> 
			(
			    TITLE,
				DISCRIPTION,
				CONTENT,
				SORT_INDEX,
				STATUS,
				TAGS,
				PICLDURL,
				RECOMMEND,
				VISIBLE,
				SEOTITLE,
				SEODESCRIPTION,
				SEOKEYWORDS
			)
			VALUES
			 (
				#{title},
				#{discription},
				#{content},
				${sortIndex},
				${status},
				#{tags},
				#{picLDUrl},
				#{recommend},
				${visible},
				#{seoTitle},
				#{seoDescription},
				#{seoKeywords}
			 )
	</insert>
	
	<update id="update">
		UPDATE 
		<include refid="pms_news" /> 
		<set>
		      TITLE = #{title},
		      CONTENT = #{content},
		      DISCRIPTION = #{discription},
		      UPDATE_TIME = CURRENT_TIMESTAMP,
		      STATUS = ${status},
		      TAGS = #{tags},
		      <if test="recommend != null and recommend != '' ">
		      RECOMMEND = ${recommend},
		      </if>
		      VISIBLE = ${visible},
			  SEOTITLE=#{seoTitle},
			  SEODESCRIPTION=#{seoDescription},
			  SEOKEYWORDS=#{seoKeywords}
		      <if test="picLDUrl != null and picLDUrl != '' ">
				,PICLDURL = #{picLDUrl}
			</if> 
		</set>
		<where>
			ID = #{id}
		</where>
	</update>
	
	<delete id="deleteByIds">
		DELETE FROM 
			<include refid="pms_news" /> 
		<where>
			ID IN 
			<foreach collection="ids" open="(" close=")" item="newsId" separator=",">
				#{newsId}
			</foreach>
		</where>
	</delete>
	
	<select id="getById" resultType="PmsNews">
		SELECT 	
			<include refid="news_field" />
		FROM 
			<include refid="pms_news" />
		<where>
			ID= #{id}
		</where> 
	</select>
	
	<select id="listPage" resultType="PmsNews">
		SELECT  
			<include refid="news_field" />
		FROM 
			<include refid="pms_news" /> 
		<where>
			<include refid="sql_condition" /> 
		</where>
		<![CDATA[
			ORDER BY create_time desc
			LIMIT ${begin} , ${limit}
		]]>
	</select>
	
	<select id="listPageCount" resultType="java.lang.Long">
		SELECT 
			COUNT(1)
		FROM 
		<include refid="pms_news" /> 
		<where>
			<include refid="sql_condition" /> 
		</where>
	</select>
	
	<select id="findNextNew" resultType="PmsNews">
		SELECT  
			<include refid="news_field" />
		FROM 
			<include refid="pms_news" /> 
		<where>
			<include refid="sql_condition" /> 
			<![CDATA[
				AND ID < #{id}
			]]>
		</where>
		ORDER BY ID DESC 
		LIMIT 1
	</select>
	
	<select id="findPreNew" resultType="PmsNews">
		SELECT  
			<include refid="news_field" />
		FROM 
			<include refid="pms_news" /> 
		<where>
			<include refid="sql_condition" /> 
			<![CDATA[
				AND ID > #{id}
			]]>
		</where>
		ORDER BY ID ASC 
		LIMIT 1
	</select>
</mapper>