<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.paipianwang.pat.facade.information.service.dao.impl.PmsNewsDaoImpl">

	<!-- 新闻表 -->
	<sql id="pms_news"> NEWS </sql>
	
	<select id="getById" resultType="PmsNews">
		SELECT ID,TITLE,DISCRIPTION
			,CONTENT,CREATE_TIME createTime
			,UPDATE_TIME updateTime,IFNULL(SORT_INDEX,0) sortIndex
			,`status` ,
			TAGS AS tags,
			PICLDURL AS picLDUrl,
			RECOMMEND AS recommend,
			VISIBLE AS visible
			FROM 
			<include refid="pms_news" />
			<where>
				ID= ${id}
			</where> 
	</select>
	
	<select id="RecommendNews" resultType="PmsNews">
		SELECT id ,title,discription 
			FROM 
			<include refid="pms_news" />
			<where>
				status = 1
			</where>
		 ORDER BY create_time DESC LIMIT 0,6
	</select>
	
	<select id="listPage" resultType="PmsNews">
		SELECT  news.ID AS id,
				news.TITLE AS id,
				news.DISCRIPTION AS discription,
				news.CONTENT AS content,
				news.CREATE_TIME AS createTime,
				news.UPDATE_TIME AS updateTime,
				news.SORT_INDEX AS sortIndex,
				news.`STATUS` AS status,
				news.TAGS AS tags,
				news.PICLDURL AS picLDUrl,
				news.RECOMMEND AS recommend,
				news.VISIBLE AS visible
		FROM 
		<include refid="pms_news" /> news 
		<where>
			<if test="category != null">
				AND CATEGORY = ${category}
			</if>
		</where>
		<![CDATA[
			ORDER BY create_time desc
			LIMIT ${begin} , ${limit}
		]]>
	</select>
	
	<select id="listPageCount" resultType="java.lang.Long">
		SELECT COUNT(1)
		FROM 
		<include refid="pms_news" /> 
		<where>
			<if test="category != null">
				AND CATEGORY = ${category}
			</if>
		</where>
	</select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id"
		parameterType="PmsNews">
			INSERT INTO 
			<include refid="pms_news" /> 
			(
			    TITLE,
				DISCRIPTION,
				CONTENT,
				CREATE_TIME,
				UPDATE_TIME,
				SORT_INDEX,
				`STATUS`,
				TAGS,
				PICLDURL,
				RECOMMEND,
				VISIBLE
			)
			VALUES
			 (
				#{title},
				#{discription},
				#{content},
				CURRENT_TIMESTAMP,
				CURRENT_TIMESTAMP,
				${sortIndex},
				${status},
				#{tags},
				#{picLDUrl},
				${recommend},
				${visible}
			 )
	</insert>
	
	<update id="update">
		UPDATE 
		<include refid="pms_news" /> 
		<set>
		      TITLE = #{title},
		      CONTENT = #{content},
		      DISCRIPTION = #{discription},
		      UPDATE_TIME = CURRENT_TIMESTAMP,
		      STATUS = ${status},
		      TAGS = #{tags},
		      RECOMMEND = ${recommend},
		      VISIBLE = ${visible}
		      <if test="picLDUrl != null and picLDUrl != '' ">
				,PICLDURL = #{picLDUrl}
			</if> 
		</set>
		<where>
			ID = ${id}
		</where>
	</update>
	
	<delete id="deleteByIds">
		DELETE FROM 
			<include refid="pms_news" /> 
		<where>
			ID IN 
			<foreach collection="ids" open="(" close=")" item="newsId" separator=",">
				${newsId}
			</foreach>
		</where>
	</delete>
</mapper>